@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
  }
  
  body {
    background: #233142;
    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 1;
  }

  #app {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  #app .container {
    width: 376px;
    height: 666px;
    z-index: 100;
  
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
  }
  
  #app .container-view {
    padding: 20px;
  }
  

  /* styles/globals.css */
/* Scrollbar customization */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Style the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* On hover, add a darker background color */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  